
.container-1 div , .container-2 div,.container-3 div,.container-4 div{
    padding: 10px;
    border: 1px solid silver;
    background-color: rgb(6, 65, 124);
}
.box-1{
    height: 500px; 
    width: 25%;
}
.box-2{
    height: 500px;
    width: 25%;
}
.box-3{
    height: 500px;
    width: 25%;
}
.container-1, .container-2{
    display: flex;
   
}
.box-3,.box-4{
    width: 25%;
    height: 500px;
}
.container-3 ,.container-4 {
    justify-content: flex-end;
    display: flex;
    position: relative;
    bottom:1044px;
    
}
.box-{
    width:384px;
    height:326px;
}

